.pill {
  font-weight: 400;
  font-size: 0.8rem;
  border-radius: 5px;
  background: var(--gray);
  color: var(--border-color);
  border: 1px solid var(--border-color);
  padding: 0.25rem 1rem;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;

  &.good,
  &.active {
    background-color: var(--light-green);
    border-color: var(--green);
    color: var(--green);
  }

  &.bad,
  &.inactive {
    background-color: var(--light-red);
    border-color: var(--red);
    color: var(--red);
  }

  &.warning {
    background-color: var(--light-yellow);
    border-color: var(--yellow);
    color: var(--yellow);
  }
}

.bold {
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.no-margin {
  margin: 0;
}

.form-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  > div {
    width: 100%;
  }
}

.small {
  font-size: 0.8rem;
}
