@use '@/styles/variables.scss' as *;
@use '@/styles/helpers.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1rem;
}

input,
textarea,
select,
button,
.button {
  display: block;
  padding: 0.65em 1em;
  width: 100%;
  background: var(--background);
  border: 1px solid var(--primary);
  color: var(--text);
  border-radius: 5px;
  font-size: 1rem;
}

button,
.button {
  width: auto;
}

button,
.button {
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background: var(--light-primary);
    border-color: var(--light-primary);
  }

  &:hover:not([disabled]),
  &.hover {
    background: var(--mid-primary);
    border-color: var(--mid-primary);
  }

  &:active:not([disabled]) {
    background: var(--dark-primary);
    border-color: var(--dark-primary);
  }

  &[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.select {
  position: relative;

  select {
    padding-right: 1.75em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--primary);
  }
}

label {
  font-size: 0.8rem;
}

.page {
  max-width: $desktop;
  margin: 0 auto;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid var(--light-gray);
}

ul,
ol {
  padding-left: 1rem;
}
